.my-car{
    position: relative;
    width: 1226px;
    height: 40px;
    margin: auto auto;
}
.my-car>.cartitle{
    position: relative;
    background-color: white;
    height: 100px;
}
.my-car>.cartitle>h2{
    line-height: 80px;
}
.my-car>.cartitle>.user-info{
    position: absolute;
    left: 80px;
    bottom: 15px;
    font-size: 16px;
}
.my-car>.cartitle>.user-info .username{
    width: 120px;
    margin-right: 20px;
    text-align: center;
    border: 1px red solid;
    display: inline-block;
    vertical-align: middle;
}
.cartitle>h2{
    float: left;
    line-height: 48px;
    font-size: 28px;
    font-weight: 400;
    color: #424242;
    margin: 0 0 0 20px;
}
.cart-goods-list{
    background-color: white;
}.cart-goods-list>.list-head{
     border-bottom: 1px solid #999999;;
     /*padding-left: 10px;*/
 }
.row{
    margin: 0;
}
.cart-goods-list>.list-head div{
    padding: 0;
    line-height: 70px;
    color: #424242;
    font-size: 20px;
}
.cart-goods-list>.list-head>.col-check input{
    margin-left: 15px;
    width: 20px;
    height: 20px;
}
.cart-goods-list>.list-body div{
    height: 86px;

}

.cart-goods-list>.separated{
    background-color: #F6F6F6;
    height: 20px;
}
.list-item div{
    padding: 0;
    line-height: 86px;
    margin-left: 10px;
    font-size: 18px;
}
.list-item>.col-check  input{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-yellowcolor{
    color: #ff6700;
}
.list-item{
    margin: 20px 0;
    border-bottom: 1px solid #999999;
}
.list-item:last-child{
    margin: 20px 0;
    border-bottom: none;
}
.list-item>.col-num input{
    display: inline;
    width: 30px;
    height: 30px;
    border: none;
}
.list-item>.col-action>a{

    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius:50%;
    text-decoration: none;
    font-size: 26px;
}
.list-item>.col-action>a:hover{
    color: #ff6700;
}
.cart-bar{
    margin-top: 40px;
    position: relative;
}
.cart-bar>.cart-container{
    background-color: white;
    height: 50px;
}
.cart-bar>.cart-container>.btn-primary{
    width: 200px;
    height: 48px;
    padding: 0;
    line-height: 50px;
    font-size: 18px;
    background-color: #f25807;
    border-color: #f25807;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.cart-bar>.cart-container>.total-price{
    position: absolute;
    display: block;
    vertical-align: middle;
    text-align: center;
    color: #ff6700;
    top: 0;
    right: 250px;
}
.cart-bar>.cart-container>.section-left{
    margin-left: 16px;
    padding-left: 16px;
    height: 50px;
    color: #757575;
    line-height: 50px;
}
.cart-bar>.cart-container>.section-left span span{
    color: #ff6700;
}
.cart-bar>.cart-container>.total-price span{
    margin-top: 10px;
    font-style: normal;
    font-size: 30px;
    color: #ff6700;
}
.page-main>.separated{
    margin-top: 40px;
}